<div class="converter-container">
  <app-currency-converter-field 
    [currencyArray]="currencyArray" 
    [(currency)]="firstCurrency" 
    [(amount)]="firstAmount" 
    (amountChange)="convertCurrency('first')" 
    (currencyChange)="convertCurrency('first')">
  </app-currency-converter-field>

  <app-currency-converter-field 
    [currencyArray]="currencyArray" 
    [(currency)]="secondCurrency" 
    [(amount)]="secondAmount" 
    (amountChange)="convertCurrency('second')" 
    (currencyChange)="convertCurrency('second')">
  </app-currency-converter-field>
</div>

  